*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    background-color: whitesmoke;
  }

  .container {
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .box {
    margin-top: 30px;
    padding: 20px;
    width: 350px;
    height: 380px;
    text-align: center;
    border: 1px solid rgb(109, 107, 107);
    background-color: white;
  }
  #hed {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
  }
  #int {
    background-color: whitesmoke;
    margin: 20px 30px 10px 30px;
    width: 250px;
    height: 30px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgb(216, 211, 211,);
  }
  #a {
    background-color: rgb(91, 91, 236);
    margin: 20px 30px 10px 30px;
    width: 250px;
    height: 30px;
    font-size: 14px;
    padding: 0px;
    border: 1px solid rgb(216, 211, 211,);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.7s;
  }
  #a:hover {
    background-color: rgb(93, 112, 161);
  }
  #bell {
    font-size: 18px;
  }
